extends layout
block content
        div(class="content")
            div(class="card")
                h3 #{blog.title}
                p Do you really want to delete this Blog Post?
                form(method="POST", action="")
                    div(class="field")
                        div(class="control")
                            input(
                                class="input"
                                type="hidden"
                                placeholder="My Post Title"
                                name="blogid"
                                required="true"
                                value=blog._id
                            )
                    div(class="field")
                        div(class="control")
                            button(class="button is-danger") Delete                            